#nested-ul {
	position:absolute;
	text-transform: lowercase;
	margin-top:0;
	width:20em;
	font-size:12px;
	background-color: #4164b4;
	
}
 #nested-ul >li{
	 padding:2px;
 }
 
 .learn-more-button{
	 background-color:#4164b4;
 }

.bottling-company{
	float:right;
}

.team{
	border: 1px solid black;
	border-radius: 5px;
	height:230px;
	
}


/* Glyphicons */
.glyphicon {
	color:silver;
    font-size: 40px;
} 
